*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    background-color: lightgrey;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

.main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    max-height: 90%;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.projects-section {
    background-color: aqua;
}

.tasks-section {
    background-color: greenyellow;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    margin-right: 1em;
}

.sort-form {
    margin-left: auto;
}

.list {
    background-color: firebrick;
    flex: 1;
    padding: 1em;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tasks-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.list-item {
    background-color: goldenrod;
    padding: 1em;
}

#new-project,
#new-task {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.new-item-buttons {
    display: flex;
    gap: 1em;
}

.new-item-buttons > button {
    flex: 1;
}